[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sphinx = "*"
tox = "*"
ipython = "*"
codecov = "*"
tox-travis = "*"

[packages]
ply = "*"
pythomata = "==0.1.7rc0"

[requires]
python_version = "3.7"
