alabaster==0.7.10
argh==0.26.2
attrs==17.4.0
Babel==2.5.3
bumpversion==0.5.3
certifi==2018.1.18
chardet==3.0.4
coverage==4.5.1
docutils==0.14
flake8==3.5.0
idna==2.6
imagesize==1.0.0
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.1.0
packaging==17.1
pathtools==0.1.2
pip==9.0.1
pkginfo==1.4.2
pluggy==0.6.0
py==1.5.3
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.4.2
pytest-runner==2.11.1
pytz==2018.4
PyYAML==3.12
requests==2.18.4
requests-toolbelt==0.8.0
setuptools==28.8.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.1
sphinxcontrib-websupport==1.0.1
tox==2.9.1
tqdm==4.22.0
twine==1.10.0
urllib3==1.22
virtualenv==15.2.0
watchdog==0.8.3
wheel==0.30.0
pytest-cov
